@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .message_height {
    height: calc(100% - 48px);
    min-height: calc(100% - 48px);
  }

  .message_height_2 {
    height: calc(100% - 48px);
    min-height: calc(100% - 68px);
  }
  .message_height_3 {
    height: calc(90% - 48px);
  }
}

:root,
* {
  box-sizing: border-box;
}
